<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>选择功能</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <script src="/static/js/jquery-3.7.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/plugins/semantic/semantic.min.css">
    <style>
        .a:hover {
            box-shadow: 0 8px 22px rgba(0, 0, 0, 0.15);
            transform: scale(1.1);
            cursor: pointer;

        }

        .a {

            transition-duration: 0.5s;
            box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
        }

        .b:hover {

        }

        .b {
            margin: auto;
        }
    </style>
</head>
<body>
<div class="ui fixed menu">
    <div class="ui container">
        <a href="/" class="header item">
            <img class="logo" src="https://service.ecnu.edu.cn/_layouts/15/ecnu/assets/media/logos/logo.png"
                 style="margin-right:1.5em">
            LawGPT
        </a>
        <a href="/" class="item">首页</a>
        <div class="ui simple dropdown item">
            功能 <i class="dropdown icon"></i>
            <div class="menu">

                <a class="item" href="/script">裁判文书</a>

                <a class="item" href="#">起诉状</a>

                <a class="item" href="/calculator">计算器</a>

            </div>
        </div>
        <div class="right menu">
            <div class="item">
                <a class="ui button" href="/login">Log in</a>
            </div>
            <div class="item">
                <a class="ui primary button" href="/login">Sign Up</a>
            </div>
        </div>
    </div>
</div>

<div class="ui vertical stripe segment" style="width:100%;height:100%;">
    <div class="ui middle aligned stackable grid container" style="margin-top:10%">
        <div class="row">
            <h2 class="ui header" style="font-size: 3em;margin: auto;">欢迎使用LawGpt</h2>
        </div>
        <div class="row">
            <h1 style="font-size: 2em;margin: auto;padding-bottom: 1em">Welcome to LawGpt
            </h1>
        </div>
        <div class="row">
            <div class="four wide column b">
                <a href="/script">
                    <img class="ui medium circular image a"
                         src="https://acm.ecnu.edu.cn/static/image/bg/3.jpg">
                </a>
            </div>
            <div class="four wide column b">
                <img class="ui medium circular image a"
                     src="https://acm.ecnu.edu.cn/static/image/bg/2.jpg">
            </div>
            <div class="four wide column b">
                <a href="/calculator">
                    <img class="ui medium circular image a"
                         src="https://acm.ecnu.edu.cn/static/image/bg/1.jpg">
                </a>
            </div>
        </div>

    </div>
</div>

</body>
<script type="text/javascript" src="/static/plugins/semantic/semantic.min.js"></script>
</html>